
.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    position: relative;

}

table {
    border-collapse: collapse;
}

table {
    background-color: #cccccc;
}

tr.main-header td {
    border: none;
    text-align: center;
    vertical-align: middle;
}

td, tr, th {
    width: 20px;
    height: 20px;
    border: 2px solid grey;

}

img {
    border: 1px solid grey;
    width: 30px;
    height: 30px;
    margin-top: 2px;
    background-color: #c6c6c6;
}

#timer{
    float :right;
    margin-right: 20px;
}
#bombsLeft{
    float: left;
    margin-left: 20px;
}

td span {
    display: inline-block;
    margin-top: 5px;
    background-color: black;
    color: red;
    text-align: right;
    width: 42px;
    height: 25px;
    font-size: 21px;
}

.cells {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}