body{
    background-color: #AAAAAA
}


table {
    border-collapse: collapse;
    background-color: #cccccc;
    margin-left: auto;
    margin-right: auto;

}

tr.main-header td {
    border: none;
    text-align: center;
}

td, tr, th {
    width: 20px;
    height: 20px;
    border: 2px solid grey;

}

img {
    border: 1px solid grey;
    width: 30px;
    height: 30px;
    margin-top: 2px;
    background-color: #c6c6c6;
    cursor: pointer;

}


.main-header span {
    display: inline-block;
    margin-top: 5px;
    background-color: black;
    color: red;
    text-align: right;
    width: 42px;
    height: 25px;
    font-size: 21px;
}

.cells {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;

}
a{
    color: inherit;
    text-decoration: none;

}
a.disabled {
    pointer-events: none;
    cursor: default;

}

#timer , #expert{
    float :right;
    margin-right: 10px;
}
#bombsLeft,#easy{
    float: left;
    margin-left: 10px;
}


.menu {
    text-align: center;
    color: #98810C;
}

